.header {
  background: url(../images/bg.svg);
  height: 49vh;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  z-index: 1;
}

.showcase h1 {
  margin-top: 8rem;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
  color: white;
}

.searchBar {
  display: flex;
  z-index: 1;
}

.searchBar input {
  width: 450px;
  height: 50px;
  font-size: 1rem;
  color: #808080;
  border: 2px solid transparent;
  /* background-color: white; */
  z-index: 0;
  background: #f8f8f9;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  z-index: 1;
  padding-left: 3rem;
}

.searchBar input:focus {
  outline: none;
  color: black;
}

.logo-div {
  background-color: white;
}

.searchBar .search-logo {
  position: absolute;

  z-index: 2;
  height: 45px;
  padding: 0.4rem;
  border: none;
}

.random-quote {
  margin-top: 1rem;
  width: 27vw;
  z-index: 1;
  color: white;
}

.random-quote p {
  font-size: small;
  font-weight: bold;
}

.load-more {
  display: flex;
  justify-content: center;
  align-content: center;
}

.random-quote span {
  font-weight: 300;
  font-size: medium;
}

.bottom-line {
  display: flex;
  justify-content: center;
  height: 5vh;
}

.bottom-line span .bottom-line-line {
  font-weight: 700;
  cursor: pointer;
  color: black;
}

.bottom-line p {
  position: relative;
  top: 7rem;
}

.dot {
  position: static;
  width: 200px;
  height: 200px;
  /* left: 810px; */
  /* top: 0px; */

  /* background: #95f29b; */
  filter: blur(100px);

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 20px;
  border-radius: 50%;
  display: inline-block;
}

.colors {
  position: absolute;
  left: 15rem;
  bottom: 22rem;
}
span {
  z-index: 0;
}

.dot1 {
  background: #9b95f2;
}

.dot2 {
  background: #f295ec;
}

.dot3 {
  background: #ecf295;
}

.dot4 {
  background: #95f29b;
}

.load-more a {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  padding: 0.5rem 0.5rem;
  color: black;
  border-radius: 10px;
}

.load-more a:hover {
  background-color: black;
  color: white;
  transition: color 0.5s;
  border-color: black;
}
