.quote-div {
  margin: 5rem 2rem;
  column-count: 3;
  column-gap: 30px;
}

.quote-div .flex-col {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  break-inside: avoid;
  z-index: 2;
}

.quote-div .flex-col:hover {
}

.flex-col h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #000000;
}

.flex-col p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #000000;
}

.inner-quote-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-quote-div img {
  margin-left: 1rem;
  align-self: center;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
